.customModal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    background-color: #808080;
}

.addValueForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addValueForm label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}

.addValueForm input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.saveButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.saveButton:hover {
    background-color: #0056b3;
}
