.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
    margin-bottom: 50px;

    th, td {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #000;
        color: #fff;
    }

    .actions {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.editButton {
    background-color: #FFEB3B; /* Желтый цвет */
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: #FDD835;
    }
}

.deleteButton {
    background-color: #F44336; /* Красный цвет */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: #D32F2F;
    }
}
